.contactForm {
    height: 220px;
    font-weight: bold;
    font-size: x-large;
}

.form {
    display: flex;
    margin-top: 50px;
    direction: rtl;
    text-align: center;
    padding: 10px;
    justify-content: space-evenly;
}

.contactForm input {
    padding: 10px;
    border-radius: 10px;
}

.formHeader {
    text-align: center;
}

.formSubmitButton {
    height: 37px;
    font-weight: bold;
    font-size: large;
    background-color: green;
    border-radius: 20px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    width: 150px;
}

ul li {
    list-style-position:inside;
}


.form ::placeholder {
    fill:#000 ;
    padding: 0;
    font-family: arial ;
    font-size: x-large;
    float: right; 
    opacity: 1;
}
  
input::-webkit-input-placeholder {
    fill:#000 ;
    padding: 0;
    font-family: arial 
}
  
input:-ms-input-placeholder { 
    fill:#000 ;
    padding: 0;
    font-family: arial 
}
  
input::-moz-placeholder { 
    fill:#000 ;
    padding: 0;
    font-family: arial 
}
  
input:-moz-placeholder { 
    fill:#000 ;
    padding: 0;
    font-family: arial 
}

input {
    -webkit-appearance: none;
    appearance: none;
}


@media (max-width: 768px) {
    .contactForm{
        height: auto;
        text-align: center;
    }

    .form {
        flex-direction: column;
        height: auto;
        align-items: center;
        padding-bottom: 20px;
        margin-top: 10px;
    }

    .form input {
        width: 70%;
    }

    .input::placeholder {
        color: black;
        font-size: 16px;
    }

    input::-webkit-input-placeholder { 
        color: #888;
    }

    .formHeader {
        font-size: 1.5em;
    }

    .form input {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .formSubmitButton {
        font-size: 14px;
        margin-top: 10px;
    }

    .form input::placeholder {
        font-size: large;
        color: #666; 
    }
}

@media (max-width: 480px) {
    .formHeader {
        font-size: 1.2em;
    }

    .contactForm input {
        font-size: 12px;
        padding: 8px;
    }

    .formSubmitButton {
        font-size: 12px;
        padding: 8px;
    }

    .form input::placeholder {
        font-size: large;
        color: #444; 
    }
}


  