.navbar {
    height: 3em;
    width: 100%;
    background-color: rgb(60, 60, 60);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.icon {
    color: gold;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.phone, .email {
    margin-top: 3px;
    color: white;
}

a {
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
    color: blue;
}

a:hover {
    transform: scale(1.1);
    color: gold;
    text-decoration: underline;
}

.rightIcons {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.leftIcons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
}

.phonemailIcons {
    display: flex;
    flex-direction: row;
}

.homeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    text-align: center;
    height: 110px;
}

.headerLogo {
    height: 110px;
    width: 300px;
    margin-top: 4px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    margin-right: 30px;
    margin-top: 22px;
    position: relative;
}

.secondNav {
    color: white;
    margin-right: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 50%;
    top: 69%;
    transform: translateX(-50%);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: gray;
    color: gold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.burgerMenu {
    height: 2em;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
}

.burgerBar {
    width: 25px;
    height: 3px;
    margin: 4px 0;
    transition: 0.4s;
}

.menu {
    display: none;
}

.menu.visible {
    display: flex;
    flex-direction: column;
    background-color: rgb(60, 60, 60);
    color: white;
    position: fixed;
    top: 3.1em;
    right: 0;
    height: calc(100% - 3.1em);
    width: 60%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    align-items: end;
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.menu.hidden {
    display: flex;
    flex-direction: column;
    background-color: rgb(60, 60, 60);
    color: white;
    position: fixed;
    top: 3.1em;
    right: 0;
    height: calc(100% - 3.1em);
    width: 60%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    align-items: end;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.menu a {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: larger;
    margin-top: 1em;
    border-bottom: 1px solid gold;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out;
}

.menu a:hover {
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: row;
        height: auto;
    }

    .leftIcons {
        float: left;
        padding: 10px 10px 10px 10px;
    }

    .phonemailIcons {
        display: none;
    }

    .rightIcons {
        display: none;
    }

    .burgerMenu {
        height: 2.5em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        cursor: pointer;
    }
    
    .burgerBar {
        margin-right: 10px;
        width: 1em;
        height: 0.5em;
        background-color: white;
        border-radius: 0.5em;
    }
}

@media (max-width: 480px) {
    .burgerMenu {
        height: 2.5em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        cursor: pointer;
    }
    
    .burgerBar {
        width: 2em;
        height: 0.5em;
        background-color: white;
        border-radius: 0.5em;
    }
}
