.navbar {
    height: 52px;
    width: 100%;
    background-color: rgb(60, 60, 60);
    color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    text-align: center; 
}

.icon {
    color: gold;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.phone, .email {
    margin-top: 3px;
    color: white;
}

a {
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
    color: blue; 
}

a:hover {
    transform: scale(1.1); 
    color: gold;
    text-decoration: underline;
}

.rightIcons {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 10px;
}


.leftIcons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
}

.phonemailIcons {
    display: flex;
    flex-direction: row;
}

.homeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    text-align: center;
    height: 110px;
}

.headerLogo {
    height: 110px;
    width: 300px;
    margin-top: 4px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    margin-right: 30px;
    margin-top: 22px;
    position: relative;
}

.secondNav {
    color: white;
    margin-right: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 50%;
    top: 69%;
    transform: translateX(-50%);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: gray;
    color: gold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: row;
        height: auto;
    }

    .leftIcons {
        float: left;
        padding: 10px 10px 10px 10px;
    }

    .phonemailIcons {
        display: none;
    }

    .rightIcons {
        display: none;
    }
}

@media (max-width: 480px) {

}

::placeholder {
    color: #888; 
    opacity: 1; 
  }
  
  ::-webkit-input-placeholder { 
    color: #888;
    opacity: 1;
  }
  
  input:-ms-input-placeholder { 
    color: #888;
  }
  
  input::-moz-placeholder { 
    color: #888;
  }
  
  input:-moz-placeholder { 
    color: #888;
  }
  

